@font-face{
    font-family: 'Arcade';
    src: url(web/ARCADECLASSIC.TTF) format('truetype');
}

@font-face{
    font-family: 'Pixel';
    src: url(web/advanced_pixel-7.ttf) format('truetype');
}

.bg {
    position: fixed; 
    left: -50%; 
    width: 50%; 
    height: 50%;
    z-index: -1;
}

.bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.logo img{
    width:150px;
    height:auto;
    padding-top: 15px;
}

.topnav{
    padding-top: 15px;
    width: 70%;
    overflow: auto;
    float: right;
    font-family: Arcade;
    
}

.topnav a{
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 35px;
    width: 17.5%;
    text-align: center;
    color: #666666;
}

.topnav a:hover{
    color: #993500;
}

.maintitle{
    position: fixed;
    font-family: Arcade;
    color: #666666;
    font-size: 60px;
    left: 225px;
    top: 250px;
    line-height: 1.2;
}

.maintext{
    position: fixed;
    font-family: Pixel;
    color: #666666;
    font-size: 45px;
    left: 225px;
    bottom: 350px;
    font-weight: 100;
    letter-spacing: 20px;
    line-height: 1.2;
}

.description{
    position:fixed;
    font-family: Pixel;
    color: #666666;
    font-size: 41px;
    font-weight: 100;
    letter-spacing: 2px;
    right: 250px;
    top: 275px;
    line-height: 1.5;
}

.bottomtext{
    position:fixed;
    font-family: Pixel;
    color: #666666;
    left: 50px;
    bottom: 5px;
    font-size: 20px;
}

.firstbutton img{
    position: fixed;
    width: 300px;
    height: auto;
    top: 600px;
    left: 200px;

}

.secondbutton img{
    position:fixed;
    left: 600px;
    top: 600px;
    width: 300px;
    height:auto;
}

.thirdbutton img{
    position:fixed;
    width: 300px;
    height: auto;
    top: 600px;
    right: 400px;
}